// Paleta de colores
$rojo-oscuro: #a13b45; // Botones, títulos, acentos
$rojo-medio: #c1565c; // Bordes de botones, iconos
$blanco-crema: #f7f2ec; // Fondo del contenedor principal
$blanco-puro: #ffffff; // Texto y elementos destacados
$gris-oscuro: #1e1e1e; // Fondo principal y secciones
$gris-medio: #555555; // Texto secundario
$negro-profundo: #000000; // Texto principal y contornos
$gris-claro: #c8c8c8; // Texto secundario