@use "../paletaColores";

.layout-cliente {
  display: flex;
  height: 100vh;

  .sidebar {
    width: 200px; // ancho de la barra lateral
    position: fixed; // la hace fija
    left: 0; // empieza desde la izquierda
    margin-top: 80px;
    height: calc(100vh - 80px); // ajusta la altura al viewport menos navbar
    background-color: paletaColores.$rojo-oscuro;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;

    background-image: url("../../assets/layoutIMG/LayoutClientes-removebg-preview.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    h2 {
      margin-bottom: 20px;
      font-size: 20px;
      margin-left: 20px;
    }

    .menu {
      display: flex;
      flex-direction: column;
      gap: 10px;

      a {
        color: white;
        text-decoration: none;
        padding: 8px 12px;
        border-radius: 5px;
        transition: background-color 0.2s;

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }

  .main-content {
    flex: 1; // ocupa el resto del espacio
    padding: 20px;
    background-color: #f4f6f9; // color de fondo del contenido
  }
}
