/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: #f4f6f9;
  color: #213547;
  min-height: 100vh;
  
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Botones básicos */
button {
  border-radius: 8px;
  border: none;
  padding: 10px 16px;
  font-size: 1em;
  cursor: pointer;
}

/* Contenedor general */
.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
